<header class="marlin-header">
  <div class="header-content container">
    <a href="#" class="logo">
      <img src="assets/mentalogo.PNG" alt="Menta Logo">
    </a>
    <div class="header-right-group">
      <nav class="main-nav">
        <ul>
          <li><a href="#inicio">Início</a></li>
          <li><a href="#planos">Planos</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>
      <button class="login-button">
        <i class="fas fa-user-circle"></i> Login
      </button>
    </div>
    </div>
</header>