<footer class="marlin-footer">
  <div class="footer-content container">
    <div class="footer-brand">
      <img src="assets/mentalogo.PNG" alt="Logo da Menta Odontologia">
      <p>Copyright © Menta {{ currentYear }}</p>
      <a href="#" class="privacy-link">Política de Privacidade</a>
      <p class="rights-reserved">Todos os direitos reservados.</p>
    </div>

    <div class="footer-right-content">
      <nav class="footer-nav">
        <ul>
          <li><a href="#inicio">Início</a></li>
          <li><a href="#planos">Planos</a></li>
          <li><a href="#contato">Contato</a></li>
        </ul>
      </nav>

      <div class="social-links">
        <a href="#" target="_blank" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
        <a href="#" target="_blank" aria-label="X (Twitter)"><i class="fab fa-x-twitter"></i></a>
        <a href="#" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a> <a href="#" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </div>
  </div>

  <button class="back-to-top" (click)="scrollToTop()">
    <i class="fas fa-chevron-up"></i>
  </button>
</footer>