<section class="hero-section" id="inicio">
  <div class="hero-content container">
    <div class="hero-text">
      <div class="dental-moto">
      <i class="fas fa-check-circle"></i> <span>Saúde bucal que cabe no seu bolso</span>
    </div>
      <h2>Menta </h2>
      <h3>Planos Odontológicos</h3>
      <p>Cuidar do seu sorriso nunca foi tão simples e acessível!</p>
      <div class="price-info">
        <p>A partir de</p>
        <div class="price-display">
          <span class="currency">R$</span>
          <span class="main-price">30</span><span class="cents">,00</span>
        </div>
         <a href="#planos" class="primary-button button-as-link">Ver Planos!</a>
      </div>
    </div> 
  </div> </section>