/* hero.component.css */

/* Seção principal */
.hero-section {
  background: linear-gradient(to bottom, #f8f8f9, var(--cor-fundo-suave));
  padding: 80px 0; 
  overflow: hidden; 
}


/* Bloco de texto */
.hero-text {
  flex: 1; 
  padding-right: 40px;
  text-align: center;
  max-width: 100%; 
}

.dental-moto {
  background-color: var(--cor-primaria-claro); 
  color: var(--cor-primaria-escuro); 
  padding: 8px 20px; /* Padding para dar espaço ao redor do texto */
  border-radius: 25px; /* Bem arredondado para parecer um "badge" */
  font-size: 1rem;
  font-weight: 600; 
  display: inline-flex; 
  align-items: center; 
  gap: 8px; 
  margin-bottom: 20px; 
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: fit-content; 
}

.dental-moto i {
  font-size: 1.1rem;
}

.hero-text h2 {
  margin-top: 20px; 
}

.hero-text h2 {
  font-size: 4rem;
  line-height: 1.2;
  background-image: linear-gradient(to right, var(--cor-primaria-escuro), var(--cor-primaria-claro));
  -webkit-background-clip: text; /* Para navegadores baseados em WebKit (Chrome, Safari) */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Para navegadores baseados em WebKit */
  color: transparent;
}

.hero-text h3 {
  font-size: 2.5rem;
  color: #8e8eb2;
  margin-bottom: 20px; 
  line-height: 1.2;
}

.hero-text p {
  font-size: 1.2rem; 
  color: var(--cor-texto-escuro); 
  margin-bottom: 30px; 
}

/* Estilização do Preço (R$ 30,00) */
.price-info p {
  font-size: 1.5rem; 
  color: var(--cor-texto-escuro);
  margin-bottom: 5px;
  text-align: center;
}

.price-display {
  display: flex; 
  align-items: baseline; 
  font-weight: bold;
  color: var(--cor-texto-escuro); 
  justify-content: center;
  margin-bottom: 60px; 
}

.currency {
  font-size: 1.5rem;
  margin-right: 5px; 
  text-align: center;
  color: var(--cor-texto-escuro); 
}

.main-price {
  font-size: 3.5rem;
  line-height: 1; 
  text-align: center;  
}

.cents {
  font-size: 1.5rem;
  line-height: 1;
   text-align: center; 
  color: var(--cor-texto-escuro);
  position: relative; 
  top: -0.8em; 
  margin-left: 0px; 
}

/* Estilo para o Botão */
.primary-button {
  background-color: #8e8eb2; 
  text-decoration: none;
  font-weight: bold;
  color: #ffffff; 
  padding: 1rem 1rem; 
  border: none; 
  border-radius: 15px; 
  font-size: 1.3rem; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.primary-button:hover {
  text-decoration: none;
  background-color: #c4c4ea; 
}


/* Media Queries para Responsividade */
@media (max-width: 992px) {
  .hero-section {
    padding: 40px 0; 
  }

  .hero-content {
    flex-direction: column; 
    text-align: center; 
    padding: 0 15px; 
  }

  .hero-text {
    padding-right: 0; 
    max-width: 100%; 
    margin-bottom: 40px; 
    padding: 0 15px; 
  }

  .hero-text h2 {
    font-size: 4rem; 
  }

  .hero-text p {
    font-size: 1.1rem; 
  }

  /* Estilização do Preço em Mobile */
  .price-info p {
    text-align: center; 
  }

  .price-display {
    justify-content: center; 
  }

  .currency {
    font-size: 1.2rem; 
  }
  .main-price {
    font-size: 2.8rem; 
  }
  .cents {
    font-size: 1.2rem; 
    top: -0.6em; 
  }

  .primary-button {
    margin: 20px auto 0;
    display: block; 
    max-width: 250px; 
  }

  .hero-image {
    text-align: center;
    width: 100%; 
    margin-top: 20px; 
  }

  .hero-image img {
    max-width: 80%; 
    height: auto;
    object-fit: contain; 
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding: 30px 10px;
  }
  .hero-text h2 {
    font-size: 4rem;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .currency {
    font-size: 1rem; 
  }
  .main-price {
    font-size: 2.2rem; 
  }
  .cents {
    font-size: 1rem; 
    top: -0.5em;
  }
  .primary-button {
    padding: 12px 25px;
    font-size: 1rem;
  }
  .hero-image img {
    max-width: 90%; 
  }
}